altgraph==0.17.5
beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
packaging==26.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
requests==2.34.2
setuptools==83.0.0
soupsieve==2.8.4
typing_extensions==4.16.0
urllib3==2.7.0
